
p1 {
    color: red;
    background-color: burlywood;
    font-size: medium;
    text-align: center;

}
p {
    color: red;
    background-color: burlywood;
    font-size: medium;
    text-align: left;

}